extends ../layouts/layout.pug

block vars
  - var title = `Log in | ${options.APP_NAME}`

block content
  div.container-fluid
    div.row
      div.col-md-3
      div.col-md-6
        h1.title-header.display-3.text-light #{options.APP_NAME} admin
        div.card.card-block.login-container
          div.card-body
            img.login-logo(src='/assets/img/bjc.png')
            h2.card-title Login
            a.btn.btn-primary.btn-lg.btn-block(href="/auth/google" role="button")
              | Log in with Google
      div.col-md-3
