extends ../layouts/layout.jade

- var title = `Details ${key} | ${options.APP_NAME}`

block content
  //- Remove the ms from the end of time stamps
  div.container-fluid
    h1
     code #{key}
     &nbsp; Detials
    div.table-responsive.redirects-table
      table.table.table-striped
        thead.thead-default
          tr
            th Key
            th URL
            th Clicks
            th Created At
        tbody
          tr
            td
              =key
            td
              a(href=url)=url
            td
              =count
            td
              =created_at
    
    div#chart.clicksChart

    script(src="/assets/js/Chart.bundle.min.js")
    script(src="/assets/js/chartkick.js")
    script(type='text/javascript').
      window.onload = function () {
         new Chartkick.LineChart("chart", location.pathname + "/visits")
      }