doctype html
html
  head
    title #{options.APP_NAME}
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block scripts
      link(rel="stylesheet", href="/assets/css/bootstrap.min.css")
      link(rel="stylesheet", href="/assets/css/application.css")
  body
    div.main-content
      block content