block vars
  - var title = title || options.APP_NAME

doctype html
html
  head
    title #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block scripts
      link(rel="stylesheet", href="/assets/css/bootstrap.min.css")
      link(rel="stylesheet", href="/assets/css/application.css")
      script(type="text/javascript" src="/assets/js/jquery-3.2.1.min.js")
      script(type="text/javascript" src="/assets/js/bootstrap.min.js")

  body
    include nav
    div.main-content
      block content