body {
/*  background-color: rgb(235, 235, 235);
*/}

.main-content {
  margin: 5% 2%;

}

.title-header {
  text-align: center;
  font-size: 4em;
}

.td-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}

/* TODO: This is temporary */
.flash {
  margin-top: 10px;
  font-weight: bold;
  display: none;
}

/* Basic "box" styling */
.login-container,
.redirects-table {
  border-radius: 10px;
  border: 1.5px solid #AAA;
}

.login-container {
    position: relative;
    text-align: center;
}

.login-logo {
    max-width: 100px;
    max-height: 100px;
    margin: 10px auto 30px;
}

.form-box input {
  text-align: center;
  padding: 10px;
  border: 1.5px solid #CCC;;
  background: #FAFAFA;
}

.form-box input:focus {
  border-width: 2px;
}

.logout-button,
.form-box button.login {
  margin-top: 15px;
  padding: 8px;
  font-weight: bold;
  font-size: 1.2rem;
  font-variant: small-caps;
}

.clicksChart {
  border: 2px solid #AAA;
  border-radius: 8px;
  height: 350px;
  width: 80%;
  padding: .5em;
  margin: 1em auto;
}

.table > tbody > tr > td {
  vertical-align: middle;
}
